@import "./variables.scss";

.page-wrapper-contact {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    position: relative;
    background-image: url("../images/akrobatyka-2.jpg");

    .info {
        margin: 40px 0 10px 0;
    }
    .subheader {
        margin: 40px 0 0 0;
    }

    .content-wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: space-evenly;
        width: 80%;
        height: 40%;
        margin: 60px 0;

        .content-column {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
        }

        .content-row {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 20px 0;
            transition: all 0.3s ease-in-out;
            font-size: 16px;
            background-color: white;
            padding: 5%;
            border-radius: 20px;
            width: 400px;
            height: 200px;
            * {
                margin: 0;
            }
        }
    }

    .sections {
        text-align: center;
        .sections-list {
            .list-item {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px 0;
            }
        }
    }

    .fb-logo {
        width: 30px;
        height: 30px;
        margin-left: 20px;
    }

    strong {
        color: $color-important;
    }
}

@media only screen and (max-width: 768px) {
    .page-wrapper {
        text-align: center;

        .content-wrapper {
            height: unset;
        }

        .info {
            margin: 40px 40px 10px 40px;
            text-align: center;
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .page-wrapper {
        .sections {
            text-align: center;
            .sections-list {
                .list-item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 40px 0;
                }
            }
        }
        .content-wrapper {
            .content-column {
                justify-content: center;
            }
        }
    }
}
