// $color-primary: #ff0066;
// $color-primary-opaque: #ff0066;
// $color-important: #009FB7;
// $color-secondary: black;

$color-secondary: #4f5d75;
$color-primary: #f786aa;
$color-primary-opaque: #f786aa;
$color-important: #009FB7;




$background-color: $color-secondary;
$text-color: $color-primary;