@import "../../../styles/variables.scss";

.stack {
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: white;
    height: 90%;
    width: 90%;
    margin: 10px;

    &.closed {
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: white;
            transform: scale(1.05);
            transition: all 0.3s ease-in-out;
        }
    }

    .gallery-image {
        width: 200px;
        mix-blend-mode: difference;
    }

    .gallery-images-stack {
        width: 200px;
    }
}

@media only screen and (max-width: 768px) {
    .stack {
        padding: 3px;
    
        &.closed {
            transition: none;
            &:hover {
                background-color: transparent;
                transform: none;
                transition: none;
            }
        }
    
        .gallery-image {
            width: 100px;
            mix-blend-mode: difference;
        }
    
        .gallery-images-stack {
            width: 100px;
            margin: 0px;
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .stack {
        padding: 3px;
    
        &.closed {
            transition: none;
            &:hover {
                background-color: transparent;
                transform: none;
                transition: none;
            }
        }
    
        .gallery-image {
            width: 200px;
            mix-blend-mode: difference;
        }
    
        .gallery-images-stack {
            width: 200px;
            margin: 0px;
        }
    }
}